*{
    margin: 0px;
    /* padding: 0px; */
    box-sizing: border-box;
}
.head{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    /* background: #c8b1b1; */
    padding: 10px;
    & .h-left{
        width: 68%;
    }
    & .h-right{
        justify-content: flex-start;
        /* background: #967878; */
        width: 28%;
    }

}
#main{
    /* background: #b495f1; */
    margin: 10px;
    border: 1.5px solid black;
    border-radius: 5px;
    margin-right: 10px;
    /* border-style:solid; */
}
div
{
    word-wrap: break-word;
}
.header{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 35px;
    color: #000d0feb;
}
a{
    /* color: blue; */
    text-decoration: none;
}
.cont{
    height: 100vh;
    width: 100%;
    /* background: rgba(180, 209, 235, 0.67); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    word-wrap: break-word;
    /* overflow: hidden; */
}
.left{
    /* position: relative; */
    height: 100vh;
    width: 25%;
    background: #ebf5fa;
    border-right: 2px solid #063104;
}
.right{
  
    height: 100vh;
    width: 75%;
   
}

@media(max-width:800px)and (min-width:600px)
{
    .cont{
        /* display:block; */
        height: 148vh;
    }
    .left{
        height: 148vh;
    }
    .right{
        height: 148vh;
    }
   
}

@media(max-width:600px)
{
    .cont{
        display:block;
    }
    .cont .left{
        width: 100%;
    }
    .cont .right{
        width: 100%;
    }
    .left{
      
        border-right: none;
    }

    .head{
        padding: 10px;
    }
    .obj{
        margin-top: 5px;
    }
}




.list{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 10px;
}



.education{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    /* color: aliceblue; */
    
}
.eduDetails{
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    padding-top: 15px;
}
.skillsHeader{
    /* color: aliceblue; */
    text-align: center;
    /* color:rgb(16, 242, 16); */
}
.skillsList{
    /* color: aliceblue; */
    text-align: left;
}.skillsType{
    list-style-type: square;
    /* color: aqua; */
}
.certificatesHeader{
    text-align: center;
    /* color:rgb(16, 242, 16); */

}
.certificatesList{
    /* color: aliceblue; */
    text-align: left;
}

/* right items */


.obj{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 5vh;
    background: #d8d7d7;
    /* margin-left: -20px; */
}

.workexp{
    padding-left: 20px;
}
.workexpHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 5vh;
    background: #d8d7d7;
    margin-left: -20px;
   
}


.resumeButton{
    height: 50px;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #b1aaaa; */

   
}
#btn{
    border-radius:10px;
    /* background: #76f39b; */
    /* color: rgb(6, 1, 26); */
    border: 1.5px solid;
    font-size: 17px;
    padding: 7px;
}

.web-clone li a:hover{
   /* color: rgb(7, 248, 23); */
   font-size: 1.15rem;
}

.linkedin h4 a:hover{
    font-size: 1.1rem;
    /* color: rgb(0, 213, 255); */
    
}
.insta h4 a:hover{
    font-size: 1.1rem;
    /* color: rgb(0, 225, 255); */
    
}



